@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:200&display=swap');

@mixin box-shadow( $horiz : .5em , $vert : .5em , $blur : 0px , $spread : 0px , $color : #000000 ){
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
}

.container-flex {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courgette', cursive !important;
  padding: 1rem;
}

p, ul {
  padding: 0 1rem;
}

a.link {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
a.link:hover {
  text-decoration: none;
  border-bottom: none;
  color: inherit !important;
}

.header {

  min-height: 100vh;

  .logo img {
    min-height: 50vh;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.showbeelden .beeld img {
  height: 50vh;
  object-fit: cover;
}

.kasten img {
  object-fit: cover;
  height: 50vw;
}

.icon {
  height: 1.5rem;
}

footer {
  min-height: 50vh;
}

@media (min-width: 768px) {
  .container-flex {
    margin: 0;
  }

  .box {
    padding: 0.875rem 1.5rem;
    border-bottom: 0.125rem solid #000;
  }
  .box-white {
    border-color: #fff;
  }

  .text-right-md {
    text-align: right;
  }

  .showbeelden {
    .row {
      overflow: hidden;
      .beeld img {
        height: 80vh;
        max-height: 45vw;
        object-position: center;
      }
    }
  }
  .kasten img {
    height: 25vw;
  }
}

.overflow-hidden { overflow: hidden; }
