.catalogus {

  .index {
    min-height: 50vh;
  }

  .list-group-item a {
    color: #000;
  }

  .carousel {
    height: 50vh;
    overflow: hidden;

    .carousel-item {

      .ResponsiveImage {
          object-fit: contain !important;
          height: 50vh;
      }
    }

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(50%);
    }
  }

}

@media (min-width: 768px) {

  .catalogus {

    .row {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    .carousel {

      .carousel-item .ResponsiveImage {

        
      }
    }

  }

}
