.catalogus {

  .index {
    min-height: 50vh;
  }

  .list-group-item a {
    color: #000;
  }

  .carousel {
    height: 50vh;
    overflow: hidden;

    .carousel-item {
      height: 50vh;

      .ResponsiveImage {
          object-fit: contain !important;
      }
    }

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }
  }



  @media (min-width: 768px) {

    .catalogus {

      .rowow {
        margin-top: 3rem;
        margin-bottom: 3rem;
      }

      .carousel {

        height: 70vh;
        .carousel-item {
          img {
            height: 70vh;
          }
        }
      }

    }

  }

}
